<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>അമ്മച്ചിയുടെ ഉപദേശം</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap" rel="stylesheet">
</head>
<body class="homepage-background">
    
    
    <div class="container-advice">
    <div class="advice-box">🍃അമ്മച്ചിയുടെ ഉപദേശം🍃</div>
        <div id="chat-box" class="chat-box2">
            <div class="chat-message ammachi-message">നമസ്കാരം കൊച്ചേ. എന്താ മനസ്സിൽ?</div>
        </div>
        <div class="input-container-chat">
            <input type="text" id="user-input" placeholder="അമ്മച്ചിയോട് എന്തും ചോദിക്കൂ...">
            <button id="send-btn">send🤖</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>